h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-style: Quicksand;
  font-size: 17px;
  max-width: 70px;
  font-weight: 300;
}

.navigation-list {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  gap: 70px;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: linear-gradient(to right, #a18b68, #37392c);
  color: white;
  justify-content: center;
}

.navigation-list__item {
  color: var(--button-background, #FCFCFB);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 310;
  line-height: normal;
  text-decoration: none;
  color: white;
}

.header-btn {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(55, 57, 44, 0);
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-weight: 310;
  width: 200px;
}

.backdrop {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is--hidden {
  opacity: 0;
  pointer-events: none;
}

.no--scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 530px;
  padding: 40px;
  background-color: #fff;
}

.modal--close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 11px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.modal--close__icon {
  fill: #000;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
}

.modal--close__icon:hover {
  fill: #41be9d;
}

.hero-modal__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #35322d;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
}

.form label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form__item {
  display: flex;
  flex-direction: column-reverse;
}

.form__item {
  margin-bottom: 10px;
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 32px;
  left: 10px;
}

.apartment {
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 0 auto;
  max-width: 1600px;
}

.apartment__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #7e6d53;
  margin-bottom: 40px;
}

.apartment-list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.apartment-list__item {
  width: 360px;
  height: 393px;
  padding-left: 60px;
  padding-top: 20px;
  margin-bottom: 28px;
}

.apartment-list__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.apartment-list__item:hover {
  border: 2px solid #7e6d53;
  border-radius: 16px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
}

.apartment-list-item__title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.21;
  color: #2d2a22;
  margin-bottom: 14px;
  text-align: center;
  padding-left: 61px;
  padding-right: 131px;
}

.apartment__text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
  color: #7e6d53;
}

.apartment-btn {
  display: block;
  border-radius: 16px;
  padding: 14px 28px;
  width: 264px;
  height: 58px;
  background: #7e6d53;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fcfcfb;
  border: none;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.gallery {
  padding-bottom: 100px;
  padding-top: 100px;
  margin: 0 auto;
}

.gallery__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #7e6d53;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.carousel {
  margin-top: 100px;
  max-width: 500px;
  max-height: 100%;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.footer {
  background: linear-gradient(213deg, #2d2a22 0%, #7e6d53 100%);
  padding-top: 32px;
  padding-bottom: 8px;
  margin: 0 auto;
  max-width: 1600px;
}

.footer__wrapper {
  display: flex;
  -moz-column-gap: 208px;
       column-gap: 208px;
}

.footer__title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.nav-list__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.contacts {
  padding-left: 208px;
}

.contacts__title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.contacts-list__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fffefe;
}

.icons-list__icon {
  fill: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.terms {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #979797;
  text-align: center;
}

.service-terms {
  font-weight: 500;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
  text-align: center;
}

.privacy-policy {
  font-weight: 500;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
  text-align: center;
}/*# sourceMappingURL=index.css.map */