<section class="apartment">
    <div class="container">
        <h2 class="apartment__title">Choose your apartment</h2>
        <ul class="apartment-list">
            <li class="apartment-list__item">
                <h3 class="apartment-list-item__title">Type 1</h3>
                <p class="apartment__text">total area 23 meters</p>
            </li>
            <li class="apartment-list__item">
                <h3 class="apartment-list-item__title">Type 2</h3>
                <p class="apartment__text">total area 27 meters</p>
            </li>
            <li class="apartment-list__item">
                <h3 class="apartment-list-item__title">Type 3</h3>
                <p class="apartment__text">total area 31 meters</p>
            </li>
        </ul>
    </div>
</section>