<section class="philosophy">
    <div class="container">
        <ul class="philosophy-list">
            <li class="philosophy-list__item">
                <svg class="philosophy-list__icon" width="32" height="32">
                    <use href="./icons/symbol-defs.svg#icon-bag"></use>
                </svg>
            </li>
            <li class="philosophy-list__item">
                <svg class="philosophy-list__icon" width="32" height="32">
                    <use href="./icons/symbol-defs.svg#icon-analytic"></use>
                </svg>
            </li>
            <li class="philosophy-list__item">
                <svg class="philosophy-list__icon" width="32" height="32">
                    <use href="./icons/symbol-defs.svg#icon-home"></use>
                </svg>
            </li>
            <li class="philosophy-list__item">
                <svg class="philosophy-list__icon" width="32" height="32">
                    <use href="./icons/symbol-defs.svg#icon-place"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>