.gallery{
    padding-bottom: 100px;
    padding-top: 100px;
    margin: 0 auto;
}

.gallery__title{
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 40px;
color: #7e6d53;
}
.content{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.carousel{
    margin-top: 100px;
max-width: 500px;
max-height: 100%;
}

.carousel-indicators [data-bs-target]{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}