.philosophy {
    display: flex;
    width: 1280px;
    height: 630px;
    background-image: url(../images/philosophy-bg.png);
    margin: 0 auto;
}
.philosophy-con {
    padding: 45px 161px;
width: 1280px;
height: 340px;
background: #fcfcfb;
opacity: 0.9;
}
.philosophy-list {
    display: flex;
    margin: 44px 122px 44px 134px;
}
.philosophy-list__text {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
color: #7e6d53;
}
.philosophy-com {
    margin: 96px 134px 96px 122px;
}
.philosophy-com__title {
    font-family: "Roboto", sans-serif;
font-weight: 300;
font-size: 24px;
color: #2d2a22;
}
.philosophy-com__text {
    font-family: "Robot", sans-serif;
font-weight: 300;
font-size: 16px;
color: #7e6d53;
}