.logo{
  font-style: Quicksand;
  font-size: 17px;
  max-width: 70px;
  font-weight: 300;
}
.navigation-list{
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  gap: 70px;
}

a{
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: linear-gradient(to right, #a18b68, #37392c);
  color: white;
  justify-content: center;
}

.navigation-list__item{
  color: var(--button-background, #FCFCFB);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 310;
  line-height: normal;
text-decoration: none;
color: white;
}

.header-btn {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #37392c00;
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-weight: 310;
  width: 200px;
}


.backdrop {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is--hidden {
  opacity: 0;
  pointer-events: none;
}

.no--scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 530px;
  padding: 40px;
  background-color: #fff;
}

.modal--close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 11px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.modal--close__icon {
  fill: #000;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
}

.modal--close__icon:hover {
  fill: #41be9d;
}

.hero-modal__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #35322d;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
}

.form label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
//   color: $text-color;
}

.form__item {
  display: flex;
  flex-direction: column-reverse;
}

.form__item {
  margin-bottom: 10px;
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 32px;
  left: 10px;
}

